parameters:
    level: 7
    paths:
        - "%currentWorkingDirectory%/src/"
    typeAliases:
        tablePropertyArray: "array{'code': string, 'labels': array<string, string>, 'type': string, 'validations': array<mixed>, 'config': array<mixed>}"
