name: "Frontend Tests"

on:
  - "push"
  - "pull_request"

jobs:
  frontend:
    runs-on: "ubuntu-18.04"
    strategy:
      matrix:
        php-versions: [ '7.4' ]

    steps:
      - uses: "actions/checkout@v2"

      - name: "Setup PHP Action"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-versions }}"
          extensions: "intl, xdebug, imagick, apcu"
      - name: "Install SSH key"
        uses: "shimataro/ssh-key-action@v2"
        with:
          key: "${{ secrets.SSH_KEY_CI }}"
          name: "id_rsa"
          known_hosts: "${{ secrets.SSH_KNOWN_HOST_AKENEO_EE }}"

      # Install / Prepare
      - name: "Add EE Composer repository"
        run: "composer -n config repositories.ee vcs ${{ secrets.SSH_AKENEO_EE_REPOSITORY }}"
      - name: "Install PHP dependencies"
        run: "composer install --prefer-dist --no-interaction --optimize-autoloader --no-suggest --no-progress"

      - name: "yarn install"
        uses: "borales/actions-yarn@v2.0.0"
        with:
          cmd: "install"

      - name: "Frontend tests"
        run: "yarn jest --no-cache --config jest.config.js --collect-coverage --collectCoverageFrom=src/**"

      - name: "Upload coverage file"
        uses: "actions/upload-artifact@v2"
        with:
          name: "jest.coverage"
          path: "coverage/clover.xml"

  coverage-upload:
    name: "Upload coverage to Codecov"
    runs-on: "ubuntu-18.04"

    needs:
      - "frontend"

    steps:
      - uses: "actions/checkout@v2"

      - name: "Download coverage files"
        uses: "actions/download-artifact@v2"
        with:
          path: "reports"

      - name: "Upload to Codecov"
        uses: "codecov/codecov-action@v1"
        with:
          directory: "reports"
          flags: "frontend"
